<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class Details</title>
    <style>
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            padding: 10px;
            margin-bottom: 5px;
            background-color: #f0f0f0;
            border-radius: 5px;
        }
        a {
            text-decoration: none;
            color: black;
        }
        button {
            cursor: pointer;
            padding: 10px 20px;
            margin-top: 20px;
            border: none;
            background-color: #007BFF;
            color: white;
            border-radius: 5px;
            font-size: 16px;
        }
        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>Class: <%= classInfo.name %></h1>
    <h2>Total Attendance Percentage: <%= totalAttendancePercentage.toFixed(2) %> %</h2>
    <h2>Student List:</h2>
    <ul>
        <% if (studentAttendancePercentages && studentAttendancePercentages.length > 0) { %>
            <% studentAttendancePercentages.forEach(function(student) { %>
                <li><%= student.username %> - Attendance: <%= student.attendancePercentage.toFixed(2) %> %</li>
            <% }) %>
        <% } else { %>
            <li>No students assigned</li>
        <% } %>
    </ul>
    <!-- Button to create attendance report -->
    <form action="/attendances/attendance/<%= classInfo._id %>" method="get">
        <button type="submit">Create Attendance Report</button>
    </form>
</body>
</html>
