<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class Details</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="/js/navbar.js"></script>
    <style>
        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }
        .main_container {
            width: 100%;
            max-width: 1200px;
            padding: 20px;
            background-color: #f9f9f9;
        }
        .class-container ul {
            list-style-type: none;
            padding: 0;
        }
        .class-container li {
            padding: 10px;
            margin-bottom: 5px;
            background-color: #f9f9f9;
            border-radius: 5px;
            border: 1px solid #ddd;
        }
        .class-container button, .class-container .add-field {
            cursor: pointer;
            padding: 10px 20px;
            margin-top: 20px;
            border: none;
            background-color: #2e4ead;
            color: white;
            border-radius: 5px;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }
        .class-container button:hover, .class-container .add-field:hover {
            background-color: #4360b5;
        }
        .class-container input, .class-container textarea, .class-container select {
            width: 100%;
            padding: 12px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        .class-container .hidden {
            display: none;
        }
        .class-container .chart-container {
            width: 100%;
            max-width: 600px;
            height: auto;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        }
        .class-container canvas {
            display: block;
            width: 100%;
            height: auto;
        }
        .class-container form {
            margin-bottom: 20px;
        }
        .student-table-container {
            max-height: 300px;
            overflow-y: auto;
            background: #fff;
            border: 1px solid #ccc;
            border-radius: 8px;
            margin: 10px 0;
        }
        .student-table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
        }
        .student-table th, .student-table td {
            padding: 10px;
            text-align: left;
        }
        .student-table th {
            background-color: #f0f0f0;
            position: sticky;
            top: 0;
            z-index: 1;
        }
        .container {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
        .left-container {
            flex: 1;
            margin-right: 20px;
        }
        .right-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .button-group {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .button-group form {
            margin: 10px 0;
        }
        .back-button {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #f44336;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .back-button:hover {
            background-color: #e53935;
        }
        .spacing {
            margin-bottom: 30px;
        }

        .message {
            padding: 10px;
            margin-top: 10px;
            border-radius: 5px;
            background-color: #d4edda;
            color: #155724;
        }
        .message.error {
            background-color: #f8d7da;
            color: #721c24;
        }
        .message.success {
            background-color: #d4edda;
            color: #155724;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script>
        function toggleField(fieldId, addButtonId, removeButtonId) {
            const field = document.getElementById(fieldId);
            const addButton = document.getElementById(addButtonId);
            const removeButton = document.getElementById(removeButtonId);

            field.classList.toggle('hidden');
            addButton.classList.toggle('hidden');
            removeButton.classList.toggle('hidden');
        }

        async function fetchAttendanceData() {
            const response = await fetch('/attendances/attendance-data/<%= classInfo._id %>');
            if (response.ok) {
                return await response.json();
            } else {
                console.error('Failed to fetch attendance data:', response.statusText);
                return [];
            }
        }

        async function renderChart() {
            const data = await fetchAttendanceData();

            const labels = data.map(record => record.date);
            const attendancePercentages = data.map(record => {
                const total = record.presentCount + record.absentCount;
                return (record.presentCount / total) * 100;
            });

            const ctx = document.getElementById('attendanceChart').getContext('2d');
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [
                        {
                            label: 'Attendance Percentage',
                            data: attendancePercentages,
                            borderColor: 'blue',
                            fill: false
                        }
                    ]
                },
                options: {
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'day'
                            }
                        },
                        y: {
                            beginAtZero: true,
                            max: 100
                        }
                    }
                }
            });
        }

        document.addEventListener('DOMContentLoaded', renderChart);
    </script>
</head>
<body>
    <div class="wrapper">
        <%- include('_navbar2', { userRole: userRole }) %>
        <div class="main_container">
            <div class="class-container">
                <h1><%= classInfo.name %></h1>
                <h2>Total Attendance Percentage: <%= totalAttendancePercentage.toFixed(2) %> %</h2> 
                
                <div class="spacing"></div>
                
                <div class="chart-container">
                    <canvas id="attendanceChart"></canvas>
                </div>
                
                <div class="spacing"></div>
                
                <div class="container">
                    <div class="left-container">
                        <div class="student-table-container">
                            <table class="student-table">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Attendance Percentage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (studentAttendancePercentages && studentAttendancePercentages.length > 0) { %>
                                        <% studentAttendancePercentages.forEach(function(student) { %>
                                            <tr>
                                                <td><%= student.username %></td>
                                                <td><%= student.attendancePercentage.toFixed(2) %> %</td>
                                            </tr>
                                        <% }) %>
                                    <% } else { %>
                                        <tr>
                                            <td colspan="2">No students assigned</td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="right-container">
                        <div class="button-group">
                            <form action="/attendances/attendance/<%= classInfo._id %>" method="get">
                                <button type="submit">Create Attendance Report</button>
                            </form>
                            <form action="/teachers/manage-tasks/<%= classInfo._id %>" method="get">
                                <button type="submit">Manage Tasks</button>
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class="spacing"></div>
                
                <h2>Add Task:</h2>
                <br>
                <!-- Form to add a new task -->
                <form action="/teachers/create-task/<%= classInfo._id %>" method="post">
                    <label for="description">Task Description:</label>
                    <textarea id="description" name="description" required></textarea>
                    
                    <div id="importance-field" class="hidden">
                        <label for="importance">Importance:</label>
                        <select id="importance" name="importance">
                            <option value="low">Low</option>
                            <option value="medium">Medium</option>
                            <option value="high">High</option>
                        </select>
                        <button type="button" id="remove-importance" class="hidden" onclick="toggleField('importance-field', 'add-importance', 'remove-importance')">- Remove Importance</button>
                    </div>
                    <button type="button" id="add-importance" class="add-field" onclick="toggleField('importance-field', 'add-importance', 'remove-importance')">+ Add Importance</button>

                    <div id="duedate-field" class="hidden">
                        <label for="optionalDueDate"><br>Due Date:</label>
                        <input type="date" id="optionalDueDate" name="optionalDueDate">
                        <button type="button" id="remove-duedate" class="hidden" onclick="toggleField('duedate-field', 'add-duedate', 'remove-duedate')">- Remove Due Date</button>
                    </div>
                    <button type="button" id="add-duedate" class="add-field" onclick="toggleField('duedate-field', 'add-duedate', 'remove-duedate')">+ Add Due Date</button>

                    <div id="moreinfo-field" class="hidden" style="margin-top: 20px;">
                        <label for="moreInfo">More Info:</label>
                        <textarea id="moreInfo" name="moreInfo" rows="4"></textarea>
                        <button type="button" id="remove-moreinfo" class="hidden" onclick="toggleField('moreinfo-field', 'add-moreinfo', 'remove-moreinfo')">- Remove More Info</button>
                    </div>
                    <button type="button" id="add-moreinfo" class="add-field" onclick="toggleField('moreinfo-field', 'add-moreinfo', 'remove-moreinfo')">+ Add More Info</button>

                    <button type="submit">Add Task</button>
                    <% if (typeof message !== 'undefined' && message.trim()) { %>
                        <div class="message"><%= message %></div>
                    <% } %>
                    
                </form>
                
                <button class="back-button" onclick="window.location.href='/teachers/view-classes'">Back to Classes</button>
            </div>
            
        </div>
    </div>
</body>
</html>
