<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incomplete Tasks</title>
    <style>
        .new-task {
            border: 2px solid red;
            padding: 10px;
            margin: 10px 0;
        }
        .task {
            padding: 10px;
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <%- include('_navbar', { userRole: userRole }) %>
        <div class="main_container">
    <h1>Your Incomplete Tasks</h1>
    <form action="/students/mark-tasks-complete" method="post">
        <input type="hidden" name="returnUrl" value="<%= req.originalUrl %>">
        <% if (newTasks && newTasks.length > 0) { %>
            <h2>New Tasks</h2>
            <ul>
                <% newTasks.forEach(task => { %>
                    <li class="new-task">
                        <strong>Description:</strong> <%= task.description %><br>
                        <% if (task.optionalDueDate) { %>
                            <strong>Due Date:</strong> <%= new Date(task.optionalDueDate).toLocaleDateString() %><br>
                        <% } %>
                        <strong>Class:</strong> <%= task.class.name %><br>
                        <strong>Importance:</strong> <%= task.importance %><br>
                        <label>
                            <input type="checkbox" name="completedTasks" value="<%= task._id %>"> Mark as Complete
                        </label>
                    </li>
                <% }) %>
            </ul>
        <% } %>

        <% if (otherTasks && otherTasks.length > 0) { %>
            <h2>Other Incomplete Tasks</h2>
            <ul>
                <% otherTasks.forEach(task => { %>
                    <li class="task">
                        <strong>Description:</strong> <%= task.description %><br>
                        <% if (task.optionalDueDate) { %>
                            <strong>Due Date:</strong> <%= new Date(task.optionalDueDate).toLocaleDateString() %><br>
                        <% } %>
                        <strong>Class:</strong> <%= task.class.name %><br>
                        <strong>Importance:</strong> <%= task.importance %><br>
                        <label>
                            <input type="checkbox" name="completedTasks" value="<%= task._id %>"> Mark as Complete
                        </label>
                    </li>
                <% }) %>
            </ul>
        <% } %>

        <button type="submit">Submit Changes</button>
    </form>
    <button onclick="window.location.href='/students/student-dashboard'">Back to Dashboard</button>
    </div>
</div>
</body>
</html>
