<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class Details</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <style>
        .task {
            background: #fff;
            padding: 15px;
            margin: 10px 0;
            border-radius: 8px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            max-height: 100px; /* Limit the height */
            overflow-y: auto; /* Add scroll for overflow */
            display: flex;
            align-items: center;
        }
        .circular-progress {
            position: relative;
            width: 100px;
            height: 100px;
            background: conic-gradient(#4caf50 var(--percentage), #ddd var(--percentage));
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            float: left;
            z-index: 1; /* Adjust z-index to be lower than taskbar */
        }
        .circular-progress::before {
            content: attr(data-completed) '/' attr(data-total);
            position: absolute;
            font-size: 20px;
            color: #333;
        }
        .task-list {
            overflow: hidden;
        }
        button {
            background-color: #2e4ead;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
        button:hover {
            background-color: #4360b5;
        }
        .taskbar {
            position: fixed;
            top: 10px;
            width: calc(100% - 20px);
            height: 60px;
            background: #2e4ead;
            z-index: 10; /* Ensure taskbar has higher z-index than progress orb */
        }
        .more-info {
            margin-top: 10px;
            display: inline-block;
            color: #2e4ead;
            text-decoration: underline;
            cursor: pointer;
        }
        .more-info:hover {
            color: #4360b5;
        }
        .task label {
            display: flex;
            align-items: center;
        }
        .task input[type="checkbox"] {
            margin-right: 10px;
            transform: scale(1.5);
        }
        .task .due-date {
            margin-left: auto;
            text-align: right;
        }
        .task.completed input[type="checkbox"] {
            pointer-events: none;
            color: grey;
        }
        .task.completed {
            color: grey;
        }
        .header-row {
            display: flex;
            justify-content: space-between;
            margin-right: 10px;
            font-weight: bold;
            align-items: flex-end;
            margin-bottom: 10px; /* Adjust as necessary */
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <%- include('_navbar', { userRole: userRole }) %>
        <div class="main_container">
            <h1>Class: <%= className %></h1>

            <div class="task-list">
                <h2>Tasks Completion</h2>
                <%
                    let completedTasks = 0;
                    let totalTasks = tasks.length;
                    tasks.forEach(task => {
                        if (task.completions.find(c => c.student.toString() === userId.toString()).completed) {
                            completedTasks++;
                        }
                    });
                    const completionPercentage = totalTasks > 0 ? (completedTasks / totalTasks) * 100 : 0;
                %>
                <div id="taskCompletion" class="circular-progress" data-completed="<%= completedTasks %>" data-total="<%= totalTasks %>" style="--percentage: <%= completionPercentage * 3.6 %>deg;"></div>
            </div>

            <% if (tasks.filter(task => !task.completions.find(c => c.student.toString() === userId.toString()).completed).length > 0) { %>
                <div class="header-row">
                    <h2>Incomplete Tasks:</h2>
                    <div class="due-date-header">Due Date</div>
                </div>
                <form action="/students/mark-tasks-complete" method="post">
                    <input type="hidden" name="returnUrl" value="<%= req.originalUrl %>">
                    <ul>
                        <% tasks.filter(task => !task.completions.find(c => c.student.toString() === userId.toString()).completed).forEach(function(task) { %>
                            <li class="task">
                                <label>
                                    <input type="checkbox" name="completedTasks" value="<%= task._id %>">
                                    <strong>- <%= task.description %>
                                    </strong> 
                                </label>
                                <span class="due-date"> <%= task.optionalDueDate ? new Date(task.optionalDueDate).toLocaleDateString() : 'None' %></span>
                            </li>
                        <% }); %>
                    </ul>
            <% } %>

            <% if (tasks.filter(task => task.completions.find(c => c.student.toString() === userId.toString()).completed).length > 0) { %>
                <div class="header-row">
                    <h2>Completed Tasks:</h2>
                    <div class="due-date-header">Due Date</div>
                </div>
                <ul>
                    <% tasks.filter(task => task.completions.find(c => c.student.toString() === userId.toString()).completed).forEach(function(task) { %>
                        <li class="task completed">
                            <label>
                                <input type="checkbox" checked disabled>
                                <strong>- <%= task.description %>
                                </strong> 
                                 <%= task.importance %>
                                 <% if (task.moreInfo) { %>
                                    <a href="/students/moreinfo/<%= task._id %>" class="more-info">More Info</a>
                                <% } %>
                            </label>
                            <span class="due-date"><%= task.optionalDueDate ? new Date(task.optionalDueDate).toLocaleDateString() : 'None' %></span>
                            
                        </li>
                    <% }); %>
                </ul>
            <% } %>

            <% if (totalTasks === 0) { %>
                <div class="no-tasks">No tasks available</div>
            <% } %>

            <input type="hidden" name="classId" value="<%= classId %>">
            <button type="submit">Submit Changes</button><br>
        </form>
        <br>
        <button onclick="window.location.href='/students/class-attendance-report/<%= classId %>'">View Attendance Report</button>
        <br>
        <br>
        <button onclick="window.location.href='/students/student-dashboard'">Back to Dashboard</button>
        <% if (typeof message !== 'undefined' && message.trim()) { %>
            <div class="message <%= messageType %>"><%= message %></div>
        <% } %>
    </div>
</div>
</body>
</html>
