<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <style>
        .notification {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }
        .unread {
            background-color: #f9f9f9;
        }
        .read {
            background-color: #e9e9e9;
        }
        button {
            margin-right: 10px;
        }
        .notifications-container {
            max-height: 70vh; /* Set a max height for the container */
            overflow-y: auto; /* Enable vertical scroll */
            margin-bottom: 20px; /* Add some margin at the bottom */
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <%- include('_navbar', { userRole: userRole }) %>
        <div class="main_container">
    <h1>Notifications</h1>
    <div class="notifications-container">
    <form action="/students/notifications/mark" method="post">
        <% notifications.forEach(function(notification) { %>
            <div class="notification <%= notification.read ? 'read' : 'unread' %>">
                <p><strong>Type:</strong> <%= notification.type %></p>
                <p><strong>Message:</strong> <%= notification.message %></p>
                <p><strong>Date:</strong> <%= notification.date.toLocaleString() %></p>
                <label>
                    <input type="checkbox" name="markRead[]" value="<%= notification._id %>"> Mark as Read
                </label>
                <% if (notification.type === 'Low Attendance') { %>
                    <label>
                        <input type="checkbox" name="dontShowAgain[]" value="<%= notification._id %>"> Don't Show Again
                    </label>
                <% } %>
            </div>
        <% }) %>
    </div>
        <button type="submit">Submit</button>
        <% if (typeof message !== 'undefined' && message.trim()) { %>
            <div class="message <%= messageType %>"><%= message %></div>
        <% } %>
    </form>
    <br>
    <button onclick="window.location.href='/students/student-dashboard'">Back to Dashboard</button>
    <script>
        document.addEventListener('visibilitychange', function() {
            if (document.visibilityState === 'hidden') {
                fetch('/students/mark-notifications-not-new', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    credentials: 'include' // Important for session handling
                }).then(response => {
                    console.log('Notifications marked as not new');
                }).catch(error => {
                    console.error('Error marking notifications as not new', error);
                });
            }
        });
        </script>

</div>
</div>
</body>
</html>

