<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Details</title>
</head>
<body>
    <h1>Class: <%= className %></h1>
    
    <h2>Tasks:</h2>
    <form action="/students/mark-tasks-complete" method="post">
        <input type="hidden" name="returnUrl" value="<%= req.originalUrl %>">
        <ul>
            <% tasks.forEach(function(task) { %>
                <li>
                    <strong>Description:</strong> <%= task.description %> - 
                    <strong>Due:</strong> <%= task.optionalDueDate ? new Date(task.optionalDueDate).toLocaleDateString() : 'No due date' %> -
                    <strong>Importance:</strong> <%= task.importance %> -
                    <% if (task.completions.find(c => c.student.toString() === userId.toString()).completed) { %>
                        <strong>Completed</strong>
                    <% } else { %>
                        <strong>Incomplete</strong>
                        <label>
                            <input type="checkbox" name="completedTasks" value="<%= task._id %>"> Mark as Complete
                        </label>
                    <% } %>
                </li>
            <% }); %>
        </ul>
        <input type="hidden" name="classId" value="<%= classId %>">
        <button type="submit">Submit Changes</button>
    </form>
    <br>
    <button onclick="window.location.href='/students/class-attendance-report/<%= classId %>'">View Attendance Report</button>
    <br>
    <br>
    
    <button onclick="window.location.href='/students/student-dashboard'">Back to Dashboard</button>
</body>
</html>
